<div class="root_container">

  <mat-radio-group [(ngModel)]="selectedPlayer">
    @for (player of players; track $index) {
    <mat-radio-button [value]="player">
      {{player}}
    </mat-radio-button>
    }
  </mat-radio-group>

  <button mat-raised-button color="primary" (click)="onStart()">开始</button>
  <div class="race_area">
    @for (player of players; track $index) {
    <div class="race">
      <div class="race_number">{{player}}</div>
      <div class="race_start" #raceStart></div>
      <div class="race_road">
        <app-snail #snail (isDone)="onRaceDone($event)" [isStart]="isStart" [name]="player+''" [raceLength]="raceLength"></app-snail>
      </div>
      <div class="race_end" #raceEnd></div>
    </div>
    <div class="race_line"></div>
    }
  </div>

</div>